<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVAssetExportPresetMobileMe</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>maxWidth</key>
			<integer>480</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>700000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetYouTube</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxWidth</key>
			<integer>480</integer>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>700000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetFacebook</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxWidth</key>
			<integer>480</integer>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>700000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetMail</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>maxWidth</key>
			<integer>480</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>700000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
		</dict>
	</dict>
	<key>AVAssetExportPresetMMS</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>videoCodec</key>
			<integer>1748121139</integer>
			<key>scalingMode</key>
			<string>Letterbox</string>
			<key>videoAverageBitRate</key>
			<integer>128000</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>10</integer>
			<key>maxFrameRate</key>
			<integer>16</integer>
			<key>width</key>
			<integer>176</integer>
			<key>maxWidth</key>
			<integer>176</integer>
			<key>minWidth</key>
			<integer>128</integer>
			<key>height</key>
			<integer>144</integer>
			<key>maxHeight</key>
			<integer>144</integer>
			<key>minHeight</key>
			<integer>96</integer>
			<key>minVideoBitRate</key>
			<integer>64000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AMR_8kHz_Mono_12kbit_CBR</string>
			<key>minAudioBitRate</key>
			<integer>12800</integer>
		</dict>
		<key>audioInterleavingAdvance</key>
		<real>0.5</real>
		<key>maxFileSize</key>
		<integer>604160</integer>
	</dict>
	<key>AVAssetExportPreset640x480</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>640</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>3500000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetHighestQuality</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>640</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>3500000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetMediumQuality</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>maxWidth</key>
			<integer>480</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>32</integer>
			<key>videoAverageBitRate</key>
			<integer>700000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>maxAudioBitRate</key>
			<integer>168000</integer>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Mono_64kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetLowQuality</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>192</integer>
			<key>maxWidth</key>
			<integer>192</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>15</integer>
			<key>maxFrameRate</key>
			<integer>16</integer>
			<key>videoAverageBitRate</key>
			<integer>128000</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_22kHz_Mono_24kbit</string>
		</dict>
	</dict>
	<key>AVAssetExportPresetAppleM4A</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoCodec</key>
			<integer>1851876449</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
</dict>
</plist>
