<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCaptureDevices</key>
	<array>
		<dict>
			<key>mediaType</key>
			<string>vide</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>localizedName</key>
			<string>Back Camera</string>
			<key>position</key>
			<integer>1</integer>
			<key>focusModes</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>FocusCenterWindowSize</key>
			<real>0.36</real>
			<key>FocusPointOfInterestWindowSize</key>
			<real>0.25</real>
			<key>exposureModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>exposurePointOfInterestSupported</key>
			<true/>
			<key>ExposureCenterWindowSize</key>
			<real>0.9</real>
			<key>ExposurePointOfInterestWindowSize</key>
			<real>0.35</real>
			<key>whiteBalanceModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>hasFlash</key>
			<true/>
			<key>flashModes</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>hasTorch</key>
			<true/>
			<key>torchModes</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>fastSwitchVideoDeviceUID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:1</string>
			<key>fastSwitchVideoFallbackPreset</key>
			<string>AVCaptureSessionPresetHigh</string>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>PreviewVideoMirrorSupported</key>
				<true/>
				<key>PresetName</key>
				<string>v</string>
				<key>OverridePrefixes</key>
				<string>V:,V_ALL:</string>
				<key>VideoCodec</key>
				<string>avc1</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>Preview</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>Capture</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>MinFrameRate</key>
					<integer>24</integer>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>AudioPort</key>
					<string>PortTypeTop</string>
					<key>VideoPort</key>
					<string>PortTypeBack</string>
					<key>Binned</key>
					<false/>
					<key>FullResolutionPreview</key>
					<true/>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict>
				<key>PresetName</key>
				<string>p</string>
				<key>OverridePrefixes</key>
				<string>P:</string>
				<key>ExcludedOutputs</key>
				<dict>
					<key>AVCaptureAudioDataOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>soun</string>
						</array>
					</dict>
					<key>AVCaptureMovieFileOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
							<string>soun</string>
						</array>
					</dict>
				</dict>
				<key>Description</key>
				<string>Back Facing 5MP Photo</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>2592</integer>
						<key>Height</key>
						<integer>1936</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>852</integer>
						<key>Height</key>
						<integer>640</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>2592</integer>
						<key>Height</key>
						<integer>1936</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>RAWSplitMode</key>
					<false/>
					<key>ChromaNoiseReduction</key>
					<true/>
					<key>AFScoreBracketing</key>
					<true/>
					<key>HDR</key>
					<true/>
					<key>RedEyeReductionParams</key>
					<dict>
						<key>MaxStrobeExposureTime</key>
						<integer>67</integer>
					</dict>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetHigh</key>
			<dict>
				<key>Description</key>
				<string>Back Facing High Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>1280</integer>
						<key>Height</key>
						<integer>720</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>852</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>1280</integer>
						<key>Height</key>
						<integer>720</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>1312500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>30000000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetMedium</key>
			<dict>
				<key>Description</key>
				<string>Back Facing Medium Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>480</integer>
						<key>Height</key>
						<integer>360</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>480</integer>
						<key>Height</key>
						<integer>360</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>Binned</key>
					<true/>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>87500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Back Facing Low Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>192</integer>
						<key>Height</key>
						<integer>144</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>192</integer>
						<key>Height</key>
						<integer>144</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>MinFrameRate</key>
					<integer>7</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>Binned</key>
					<true/>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>16000</integer>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetiFrame</key>
			<dict>
				<key>Description</key>
				<string>Back Facing iFrame Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>960</integer>
						<key>Height</key>
						<integer>540</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>852</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>960</integer>
						<key>Height</key>
						<integer>540</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>MinFrameRate</key>
					<integer>30</integer>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>Binned</key>
					<true/>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_4_1</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>0.01</real>
					<key>AverageDataRate</key>
					<integer>3125000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset640x480</key>
			<dict>
				<key>Description</key>
				<string>Back Facing 640x480</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>Binned</key>
					<true/>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>437500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>10000000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset960x540</key>
			<dict>
				<key>Description</key>
				<string>Back Facing 960x540 Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>960</integer>
						<key>Height</key>
						<integer>540</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>852</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>960</integer>
						<key>Height</key>
						<integer>540</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>Binned</key>
					<true/>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>738282</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>16875000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset1280x720</key>
			<dict>
				<key>Description</key>
				<string>Back Facing 720p Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>1280</integer>
						<key>Height</key>
						<integer>720</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>852</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>1280</integer>
						<key>Height</key>
						<integer>720</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>1312500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>30000000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetConferencing</key>
			<dict>
				<key>Description</key>
				<string>Back Facing Video Conferencing</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>320</integer>
						<key>Height</key>
						<integer>240</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>320</integer>
						<key>Height</key>
						<integer>240</integer>
					</dict>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>50000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>mediaType</key>
			<string>vide</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:1</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:1</string>
			<key>localizedName</key>
			<string>Front Camera</string>
			<key>position</key>
			<integer>2</integer>
			<key>exposureModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>exposurePointOfInterestSupported</key>
			<true/>
			<key>ExposureCenterWindowSize</key>
			<real>0.9</real>
			<key>ExposurePointOfInterestWindowSize</key>
			<real>0.35</real>
			<key>whiteBalanceModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>fastSwitchVideoDeviceUID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>fastSwitchVideoFallbackPreset</key>
			<string>AVCaptureSessionPresetHigh</string>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>PreviewVideoMirrorSupported</key>
				<true/>
				<key>PresetName</key>
				<string>v</string>
				<key>OverridePrefixes</key>
				<string>V:,V_ALL:</string>
				<key>VideoCodec</key>
				<string>avc1</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>Preview</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>Capture</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
					<key>MinFrameRate</key>
					<integer>24</integer>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>PreviewVideoMirror</key>
					<true/>
					<key>AudioPort</key>
					<string>PortTypeTop</string>
					<key>VideoPort</key>
					<string>PortTypeFront</string>
					<key>FullResolutionPreview</key>
					<true/>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict>
				<key>PresetName</key>
				<string>p</string>
				<key>OverridePrefixes</key>
				<string>P:</string>
				<key>ExcludedOutputs</key>
				<dict>
					<key>AVCaptureAudioDataOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>soun</string>
						</array>
					</dict>
					<key>AVCaptureMovieFileOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
							<string>soun</string>
						</array>
					</dict>
				</dict>
				<key>Description</key>
				<string>Front Facing VGA Photo</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
					</dict>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>ChromaNoiseReduction</key>
					<true/>
					<key>AFScoreBracketing</key>
					<true/>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetHigh</key>
			<dict>
				<key>Description</key>
				<string>Front Facing High Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>437500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>10000000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetMedium</key>
			<dict>
				<key>Description</key>
				<string>Front Facing Medium Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>480</integer>
						<key>Height</key>
						<integer>360</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>480</integer>
						<key>Height</key>
						<integer>360</integer>
					</dict>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>87500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Front Facing Low Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>192</integer>
						<key>Height</key>
						<integer>144</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>192</integer>
						<key>Height</key>
						<integer>144</integer>
					</dict>
					<key>MinFrameRate</key>
					<integer>7</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>16000</integer>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset640x480</key>
			<dict>
				<key>Description</key>
				<string>Front Facing High Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>640</integer>
						<key>Height</key>
						<integer>480</integer>
					</dict>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>437500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>10000000</integer>
						<integer>19</integer>
					</array>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetConferencing</key>
			<dict>
				<key>Description</key>
				<string>Front Facing Video Conferencing</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Sensor</key>
					<dict>
						<key>Width</key>
						<integer>320</integer>
						<key>Height</key>
						<integer>240</integer>
					</dict>
					<key>Preview</key>
					<dict>
						<key>Width</key>
						<integer>320</integer>
						<key>Height</key>
						<integer>240</integer>
					</dict>
					<key>Capture</key>
					<dict>
						<key>Width</key>
						<integer>320</integer>
						<key>Height</key>
						<integer>240</integer>
					</dict>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>MaxFrameRate</key>
					<integer>15</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>AverageDataRate</key>
					<integer>50000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>mediaType</key>
			<string>soun</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>PresetName</key>
				<string>a</string>
				<key>Description</key>
				<string>Audio Recording</string>
				<key>AudioCodec</key>
				<string>aac </string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>AudioPort</key>
					<string>PortTypeBottom</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict/>
			<key>AVCaptureSessionPresetHigh</key>
			<dict/>
			<key>AVCaptureSessionPresetMedium</key>
			<dict/>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Low Quality Audio</string>
				<key>AudioPreset</key>
				<string>Preset_AAC_22kHz_Mono_24kbit</string>
			</dict>
			<key>AVCaptureSessionPresetiFrame</key>
			<dict/>
			<key>AVCaptureSessionPresetVoicemailGreeting</key>
			<dict>
				<key>Description</key>
				<string>Voicemail</string>
				<key>AudioCodec</key>
				<string>samr</string>
				<key>FormatWriterOptions</key>
				<dict>
					<key>FileFormat</key>
					<string>AMRAudioFile</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset640x480</key>
			<dict/>
			<key>AVCaptureSessionPreset960x540</key>
			<dict/>
			<key>AVCaptureSessionPreset1280x720</key>
			<dict/>
			<key>AVCaptureSessionPresetConferencing</key>
			<dict>
				<key>Description</key>
				<string>Conferencing</string>
				<key>AudioPreset</key>
				<string>Preset_AAC_22kHz_Mono_24kbit</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
